/*-- scss:defaults --*/

// headings
$presentation-heading-font: Ubuntu, sans-serif !default;
$presentation-heading-color: #C10000 !default;
$presentation-font-size-root: 34px !default;
$code-block-font-size: 28px !default;

// fonts
$font-family-sans-serif: "Open Sans", sans-serif !default;

/*-- scss:rules --*/
.reveal p {
  font-weight: 300;
  text-shadow: 1px 1px $body-bg;
}

.reveal p code {
  display: inline-block;
  border-radius: 7px;
}

.reveal small code {
  vertical-align: baseline;
}
.table{
  width:auto;
  font-size: 8px;
}